= render "layouts/header"
.main-container
  .main-container--inner
    .main-container--inner-header
      %h4.main-container--inner-headerTitle フォロー一覧
    .main-container--inner-box
      .main-container--inner-contents
        - if @users.blank?
          .main-container--inner-contentsBox
            フォローしているユーザーはいません。
        - else
          - @users.each do |user|
            .main-container--inner-contentsBox
              - if user.avatar.blank?
                = link_to image_tag("no_avatar.png",resize: '56x56', alt: "", class: "list-avatar"), user_path(user.id)
              - else 
                = link_to image_tag("#{user.avatar}",resize: '56x56', alt: "", class: "list-avatar"), user_path(user.id)
              = link_to "#{user.name}", user_path(user.id), class: "list-userName" 
              - if user_signed_in? && user != current_user
                %div{id: "follow_form_#{user.id}"}
                  - if current_user.following?(user)
                    = form_for(current_user, url: relationship_path(user), method: :delete, remote: true) do |f|
                      = f.submit "フォロー中", class: "remove-follow-btn"
                  - else
                    = form_for(current_user, url: relationships_path, method: :post, remote: true) do |f|
                      = hidden_field_tag :following_id, user.id
                      = f.submit "フォローする", class: "follow-btn"