= render "albums/nav_bar"
%main.main__contents
  .main__container
    .profile__container
      .profile__container__avatar
        .profile__container__avatar-outer
          .circle-avatar
          - if @user.avatar?
            = image_tag(@user.avatar.to_s, class: "circle-avatar__img")
          - else
            = image_tag('no_avatar.png',class: 'circle-avatar__img')
      .profile__container__profile
        .profile__container__profile-outer
          %h1.profile__container__profile-box__user-name
            = @user.name
            - if user_signed_in? && current_user.id == @user.id
              = link_to edit_user_path(current_user),class: "edit__user-outer" do
                %button.edit__user-outer-btn プロフィールを編集
              = link_to destroy_user_session_path, method: :delete, class: "destroy_sesion-outer" do
                %button.destroy__session-outer-btn ログアウト
            - else
              = render "follow_form"
        %ul.profile__container__list-outer
          %li.list-inner
            %span.list-inner__post-count
              = "投稿 #{current_user.albums.count} 件"
          %li.list-inner
            = link_to "フォロワー #{@user.followers.count}人", followers_user_path(@user.id), class: "follower-count"
          %li.list-inner
            = link_to "#{@user.following.count}人をフォロー中", following_user_path(@user.id), class: "following-count"
    .card__menu
      %span.card__menut__itle 投稿一覧
    -# .card__list__container
    .grid
      - @user.albums.each do |album|
        .card
          = link_to image_tag(album.album_images.last.image.url,resize: '293x293', alt: "", class: "card__image" ), "/albums/#{album.id}" 
          %p 
            = album.title
          .more  
            %span.more-image--box
              = image_tag'menu_icon.svg', class: 'more-image'
            %ul.more-list
              %li
                = link_to '詳細',"/albums/#{album.id}",method: :get , data:{href: "/albums/#{album.id}", toggle: "modal", target: "#modalDetails"} 
                -# .modal.fade{id: "modalDetails", tabindex: "-1", role: "dialog", aria:{labelledby: "myModalLabel"}}
                -#   .modal-dialog{role: "document"}
                -#     .modal-content
              - if user_signed_in? && current_user.id == album.user_id
                %li
                  = link_to '編集', "#"
                %li
                  = link_to '削除', "/albums/#{album.id}", method: :delete


        
