%main.main__contents
  .main__container
    = render "user_list"
    %h2.list-main-postIndex
      投稿一覧
    .grid
      - @albums.each do |album|
        .card
          = link_to image_tag(album.album_images.last.image.url,resize: '293x293', alt: "", class: "card__image" ),"/albums/#{album.id}" 
          %p 
            = render_with_hashtags(album.title)
          %span 
            = album.user.name
          .iconBox
            %i.fas.fa-heart
            .likes-count
              = album.likes.count
            %i.fas.fa-comment.commentIcon
            .commentConut
              = album.comments.count