%main.main__contents
  .main__container
    .card__list__container
      .card
        = link_to image_tag("img01.jpg",size: '293x293', alt: "", class: "card__image" ),'#' 
        %p title 
        %span user_name
      .card
        = link_to image_tag("img01.jpg",size: '293x293', alt: "", class: "card__image" ),'#' 
        %p title 
        %span user_name
      .card
        = link_to image_tag("img01.jpg",size: '293x293', alt: "", class: "card__image" ),'#' 
        %p title 
        %span user_name
    .card__list__container
      .card
        = link_to image_tag("img01.jpg",size: '293x293', alt: "", class: "card__image" ),'#' 
        %p title 
        %span user_name
      .card
        = link_to image_tag("img01.jpg",size: '293x293', alt: "", class: "card__image" ),'#' 
        %p title 
        %span user_name
      .card
        = link_to image_tag("img01.jpg",size: '293x293', alt: "", class: "card__image" ),'#' 
        %p title 
        %span user_name
 