%main.main__contents
  .main__container
    = render "user_list"
    .grid
      - @albums.each do |album|
        .card
          = link_to image_tag(album.album_images.last.image.url,resize: '293x293', alt: "", class: "card__image" ),"/albums/#{album.id}" 
          %p 
            = album.title
          %span 
            = album.user.name